<!DOCTYPE html>
<html>
<head>
  <style>
    .container {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      overflow-x: scroll;
      white-space: nowrap;
    }
    
    .image {
      display: block;
      text-align: center;
      margin-bottom: 10px;
    }

    h1 {
      background-color: #13D185;
      color: white;
      padding: 10px;
      text-align: center;
    }
  </style>
</head>
<body>
  <h1>April Forecast</h1>
  
  <div class="container">
    <div class="image">
      <img src="file:///C:/Users/acer/Downloads/Pharmacetical%20Sales%20Tablet/Final%20Code/templates/April/ABC.png" alt="Image 1">
      <h2>ABC Analysis</h2>
    </div>
    
    <div class="image">
      <img src="file:///C:/Users/acer/Downloads/Pharmacetical%20Sales%20Tablet/Final%20Code/templates/April/ITR.png" alt="Image 2">
      <h2>Inventory turnover ratio</h2>
    </div>
    
    <div class="image">
      <img src="file:///C:/Users/acer/Downloads/Pharmacetical%20Sales%20Tablet/Final%20Code/templates/April/FORZID-TZ%201125%20INJ%20VIALS.png" alt="Image 3">
      <h2>The reorder point for FORZID-TZ 1125 INJ VIALS is approximately 81886.43.</h2>
    </div>
    
    <div class="image">
      <img src="file:///C:/Users/acer/Downloads/Pharmacetical%20Sales%20Tablet/Final%20Code/templates/April/STERILE%20WATER.png" alt="Image 4">
      <h2>The reorder point for STERILE WATER FOR INJ 1*5ML is approximately 57400.43.</h2>
    </div>
    
    <div class="image">
      <img src="file:///C:/Users/acer/Downloads/Pharmacetical%20Sales%20Tablet/Final%20Code/templates/April/MR.INJECT.png" alt="Image 5">
      <h2>The reorder point for MR.INJECT MR 2ML WITH 24G 1S is approximately 53200.43.</h2>
    </div>
    
    <!-- Remove the remaining image divs -->
    
    <div class="image">
      <img src="file:///C:/Users/acer/Downloads/Pharmacetical%20Sales%20Tablet/Final%20Code/templates/April/SUGARMET-500.png" alt="Image 6">
      <h2>The reorder point for SUGARMET-500 TAB 20S is approximately 49798.43.</h2>
    </div>
    
    <div class="image">
      <img src="file:///C:/Users/acer/Downloads/Pharmacetical%20Sales%20Tablet/Final%20Code/templates/April/LEFLU-150.png" alt="Image 7">
      <h2>The reorder point for LEFLU-150 TAB 1S is approximately 46914.43.</h2>
    </div>
    
  </div>
</body>
</html>