<!DOCTYPE html>
<html>
<head>
  <style>
    .container {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      overflow-x: scroll;
      white-space: nowrap;
    }
    
    .image {
      display: block;
      text-align: center;
      margin-bottom: 10px;
    }

    h1 {
      background-color: #13D185;
      color: white;
      padding: 10px;
      text-align: center;
    }
  </style>
</head>
<body>
  <h1>August Forecast</h1>
  
  <div class="container">
    <div class="image">
      <img src="file:///C:/Users/acer/Downloads/Pharmacetical%20Sales%20Tablet/Final%20Code/templates/August/ABC.png" alt="Image 1">
      <h2>ABC Analysis</h2>
    </div>
    
    <div class="image">
      <img src="file:///C:/Users/acer/Downloads/Pharmacetical%20Sales%20Tablet/Final%20Code/templates/August/ITR.png" alt="Image 2">
      <h2>Inventory turnover ratio</h2>
    </div>
    
    <div class="image">
      <img src="file:///C:/Users/acer/Downloads/Pharmacetical%20Sales%20Tablet/Final%20Code/templates/August/NS%20IV.png" alt="Image 3">
      <h2>The reorder point for NS IV 100ML is approximately 1075340.43.</h2>
    </div>
    
    <div class="image">
      <img src="file:///C:/Users/acer/Downloads/Pharmacetical%20Sales%20Tablet/Final%20Code/templates/August/CGMET.png" alt="Image 4">
      <h2>The reorder point for CGMET-500MG TAB 10S is approximately 748741.43.</h2>
    </div>
    
    <div class="image">
      <img src="file:///C:/Users/acer/Downloads/Pharmacetical%20Sales%20Tablet/Final%20Code/templates/August/FRUSEMIDE.png" alt="Image 5">
      <h2>The reorder point for FRUSEMIDE INJ 2ML 2ML is approximately 84679.43.</h2>
    </div>
    
    <!-- Remove the remaining image divs -->
    
    <div class="image">
      <img src="file:///C:/Users/acer/Downloads/Pharmacetical%20Sales%20Tablet/Final%20Code/templates/August/ORS.png" alt="Image 6">
      <h2>The reorder point for ORS (APPLE) 200ML is approximately 64617.43.</h2>
    </div>
    
    <div class="image">
      <img src="file:///C:/Users/acer/Downloads/Pharmacetical%20Sales%20Tablet/Final%20Code/templates/August/DICLOFENAC.png" alt="Image 7">
      <h2>The reorder point for DICLOFENAC-50MG TAB 10S is approximately 62153.43.</h2>
    </div>
    
  </div>
</body>
</html>