<!DOCTYPE html>
<html>
<head>
  <style>
    .container {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      overflow-x: scroll;
      white-space: nowrap;
    }
    
    .image {
      display: block;
      text-align: center;
      margin-bottom: 10px;
    }

    h1 {
      background-color: #13D185;
      color: white;
      padding: 10px;
      text-align: center;
    }
  </style>
</head>
<body>
  <h1>February Forecast</h1>
  
  <div class="container">
    <div class="image">
      <img src="file:///C:/Users/acer/Downloads/Pharmacetical%20Sales%20Tablet/Final%20Code/templates/Feb/ABC.png" alt="Image 1">
      <h2>ABC Analysis</h2>
    </div>
    
    <div class="image">
      <img src="file:///C:/Users/acer/Downloads/Pharmacetical%20Sales%20Tablet/Final%20Code/templates/Feb/ITR.png" alt="Image 2">
      <h2>Inventory turnover ratio</h2>
    </div>
    
    <div class="image">
      <img src="file:///C:/Users/acer/Downloads/Pharmacetical%20Sales%20Tablet/Final%20Code/templates/Feb/VITANION%20TAB%2010S.png" alt="Image 3">
      <h2>The reorder point for VITANION TAB 10S is approximately 487886.43.</h2>
    </div>
    
    <div class="image">
      <img src="file:///C:/Users/acer/Downloads/Pharmacetical%20Sales%20Tablet/Final%20Code/templates/Feb/VILDAILY-M%20TAB%2010S.png" alt="Image 4">
      <h2>The reorder point for VILDAILY-M TAB 10S is approximately 145530.43.</h2>
    </div>
    
    <div class="image">
      <img src="file:///C:/Users/acer/Downloads/Pharmacetical%20Sales%20Tablet/Final%20Code/templates/Feb/LODOL%20TAB%2010S.png" alt="Image 5">
      <h2>The reorder point for LODOL TAB 10S is approximately 123991.43.</h2>
    </div>
    
    <!-- Remove the remaining image divs -->
    
    <div class="image">
      <img src="file:///C:/Users/acer/Downloads/Pharmacetical%20Sales%20Tablet/Final%20Code/templates/Feb/MISOLIZER%20200(AL).png" alt="Image 6">
      <h2>The reorder point for MISOLIZER 200(AL) TAB 4S is approximately 41412.43.</h2>
    </div>
    
    <div class="image">
      <img src="file:///C:/Users/acer/Downloads/Pharmacetical%20Sales%20Tablet/Final%20Code/templates/Feb/CAPSIFLAM-SP%20TAB.png" alt="Image 7">
      <h2>The reorder point for CAPSIFLAM-SP TAB 10S is approximately 60893.43.</h2>
    </div>
    
  </div>
</body>
</html>
