<!DOCTYPE html>
<html>
<head>
  <style>
    .container {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      overflow-x: scroll;
      white-space: nowrap;
    }
    
    .image {
      display: block;
      text-align: center;
      margin-bottom: 10px;
    }

    h1 {
      background-color: #13D185;
      color: white;
      padding: 10px;
      text-align: center;
    }
  </style>
</head>
<body>
  <h1>July Forecast</h1>
  
  <div class="container">
    <div class="image">
      <img src="file:///C:/Users/acer/Downloads/Pharmacetical%20Sales%20Tablet/Final%20Code/templates/July/ABC.png" alt="Image 1">
      <h2>ABC Analysis</h2>
    </div>
    
    <div class="image">
      <img src="file:///C:/Users/acer/Downloads/Pharmacetical%20Sales%20Tablet/Final%20Code/templates/July/ITR.png" alt="Image 2">
      <h2>Inventory turnover ratio</h2>
    </div>
    
    <div class="image">
      <img src="file:///C:/Users/acer/Downloads/Pharmacetical%20Sales%20Tablet/Final%20Code/templates/July/OKACET.png" alt="Image 3">
      <h2>The reorder point for OKACET TAB 10S is approximately 80402.43.</h2>
    </div>
    
    <div class="image">
      <img src="file:///C:/Users/acer/Downloads/Pharmacetical%20Sales%20Tablet/Final%20Code/templates/July/ABAMOL.png" alt="Image 4">
      <h2>The reorder point for ABAMOL IV 100ML. is approximately 66381.43.</h2>
    </div>
    
    <div class="image">
      <img src="file:///C:/Users/acer/Downloads/Pharmacetical%20Sales%20Tablet/Final%20Code/templates/July/PARA.png" alt="Image 5">
      <h2>The reorder point for PARA-650MG TAB (CETACIN) 15S is approximately 55657.43.</h2>
    </div>
    
    <!-- Remove the remaining image divs -->
    
    <div class="image">
      <img src="file:///C:/Users/acer/Downloads/Pharmacetical%20Sales%20Tablet/Final%20Code/templates/July/AZITHROMB.png" alt="Image 6">
      <h2>The reorder point for AZITHROMB-500 TAB 5S is approximately 36379.43.</h2>
    </div>
    
    <div class="image">
      <img src="file:///C:/Users/acer/Downloads/Pharmacetical%20Sales%20Tablet/Final%20Code/templates/July/THICURE.png" alt="Image 7">
      <h2>The reorder point for THICURE INJ 2ML is approximately 36148.43.</h2>
    </div>
    
  </div>
</body>
</html>