<!DOCTYPE html>
<html>
<head>
  <style>
    .container {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      overflow-x: scroll;
      white-space: nowrap;
    }
    
    .image {
      display: block;
      text-align: center;
      margin-bottom: 10px;
    }

    h1 {
      background-color: #13D185;
      color: white;
      padding: 10px;
      text-align: center;
    }
  </style>
</head>
<body>
  <h1>September Forecast</h1>
  
  <div class="container">
    <div class="image">
      <img src="file:///C:/Users/acer/Downloads/Pharmacetical%20Sales%20Tablet/Final%20Code/templates/September/ABC.png" alt="Image 1">
      <h2>ABC Analysis</h2>
    </div>
    
    <div class="image">
      <img src="file:///C:/Users/acer/Downloads/Pharmacetical%20Sales%20Tablet/Final%20Code/templates/September/ITR.png" alt="Image 2">
      <h2>Inventory turnover ratio</h2>
    </div>
    
    <div class="image">
      <img src="file:///C:/Users/acer/Downloads/Pharmacetical%20Sales%20Tablet/Final%20Code/templates/September/DNS.png" alt="Image 3">
      <h2>The reorder point for DNS 500ML 500ML is approximately 688646.43.</h2>
    </div>
    
    <div class="image">
      <img src="file:///C:/Users/acer/Downloads/Pharmacetical%20Sales%20Tablet/Final%20Code/templates/September/DICLOVEN.png" alt="Image 4">
      <h2>The reorder point for DICLOVEN-50MG TAB 10S is approximately 103950.43.</h2>
    </div>
    
    <div class="image">
      <img src="file:///C:/Users/acer/Downloads/Pharmacetical%20Sales%20Tablet/Final%20Code/templates/September/OXYKOP.png" alt="Image 5">
      <h2>The reorder point for OXYKOP INJ 1ML is approximately 82194.43.</h2>
    </div>
    
    <!-- Remove the remaining image divs -->
    
    <div class="image">
      <img src="file:///C:/Users/acer/Downloads/Pharmacetical%20Sales%20Tablet/Final%20Code/templates/September/SOMU.png" alt="Image 6">
      <h2>The reorder point for SOMU TAB 10S is approximately 72107.43.</h2>
    </div>
    
    <div class="image">
      <img src="file:///C:/Users/acer/Downloads/Pharmacetical%20Sales%20Tablet/Final%20Code/templates/September/VASAFE.png" alt="Image 7">
      <h2>The reorder point for VASAFE-10 TAB 10S is approximately 67970.43.</h2>
    </div>
    
  </div>
</body>
</html>